/*style.css*/
body {
  min-height: 100vh;
  margin: 0rem;
  font-family: 'Roboto', sans-serif;
 /* font-weight: 400;*/
  background: linear-gradient(125deg, #8de3dd,#7acaff, #f47aa6);

  color: #333;
}

.glass-header {
  background: radial-gradient(#f47aa7,#f47aa7e8, #f47aa79c) ;
  backdrop-filter: blur(10px);
  
}

input{
  background-color: #fff;
}

.prenota-title {
    margin-top: 1.5rem;
    background: linear-gradient(290deg, #e4ebff, #ffd6e6);
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: .2rem 0 .2rem 0;
    width: 100%;
}

.branoAttualeSection{
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 10px; 
  flex-wrap: wrap; 
  position: fixed; 
  bottom: 0;
  background: #ffc1d87b;
  backdrop-filter: blur(10px);
  border-radius: 0px;
  padding: .2rem .5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  width: 100%;
  z-index: 1000;
}
#reservationForm .btn {
  background-color: #db4d81;
}

#reservationForm .btn-secondary {
  background-color: #6c757d;
}

#reservationForm input{
  /*background-color: #f5f5f5;*/
  padding: .5rem;
  border-radius: 8px;
}

header {
  background-color: #db4d81;
  color: white;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 800;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  font-weight: bold;
  cursor: pointer;
  height: 100px;
}

header a {
  width: 45px;
}

img {
  max-width: 100%;
  height: 95px;
  padding: .3rem;
  margin-left: 2rem;
}


#logoEdit {
  margin-left: 0;
}
.centerLogo {
  cursor: default;
  text-align: center;
  width: 100%;
}


/*password editor*/


  .modalPW {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(125deg, #8de3dd,#7acaff, #f47aa6);
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in-out;
  }

  .modal-content {
    position: relative;
    background: linear-gradient(290deg, #ccd8ff, #fdedf3);
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideIn 0.4s ease;
    max-width: 90%;
    width: 300px;
  }

  .modal-content h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  .modal-content h3{
    font-size: 20px;
  }
  .modal-content label{
    font-size: 18px;
  }

  #popupSongName {
    margin-top: 16px;
    width: 90%;
    text-align: center;
  }

  #popupPrenotatoDa {
    background: linear-gradient(150deg, #e7ecff, #ffffff75);
    border-radius: 8px;
    padding: 12px;
  }
  #popupEditName button{
    width: 100%;
    
  }
  .modal-content input {
    width: fit-content;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }

  .modal-content input:focus {
    border-color: #56c5d0;
  }

  .modalPW .modal-content button {
    width: fit-content;
    padding: 0.7rem 5.7rem;
    background-color: #56c5d0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modalPW .modal-content button:hover {
    background-color: #45a9b4;
  }

  #errorMessage {
    color: red;
    margin-top: 0.5rem;
    display: none;
    font-size: 0.9rem;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

h1, a{
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 400px;
  height: 100%;
  background-color: #db4d81;
  color: white;
  padding: 2rem 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  box-shadow: -2px 0 8px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  z-index: 900;
  
}

.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.side-menu ul li:first-child {
  position: absolute;
  top: 2vh;
  left: 15%;
  width: 100%;
}

.side-menu ul li:last-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  width: 100%;
}

.side-menu.visible {
  transform: translateX(0);
}

.close-btn {
    background: none;
  border: none;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.side-menu li, a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}

/*.side-menu li #loginEditor {
  
}*/

main {
  padding: 1rem 1rem 4.5rem 1rem;
}
.controls {
  display: flex;
  gap: 10px;
  padding: 1rem 0;
}

#filterBars .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
}

#searchInput {
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  min-width: 100px;
  max-width: 192px;
}
/*#sortSelect {
  padding: 0.5rem;
  border-radius: 8px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  height: 38.4px;
}

#sortSelect option {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}*/

.dropdown {
  position: relative;
  font-family: 'Poppins', sans-serif;
}


.dropdown-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  height: 38.4px;
  width: 12rem;
}

.dropdown-menu {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  top: 103%;
  left: 0;
  background-color: #fff;
  border: 0;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.2s ease;
  z-index: 500;
  margin: 0;
}

.dropdown-menu #borderDropdown {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-left: none;
  border-right: none;
  
}

.dropdown.open .dropdown-menu {
  max-height: 200px; /* o più se hai tante opzioni */
  padding: 0.5rem 0;
}


.dropdown.open .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}


.song-list {
  list-style: none;
  padding: 0;
  animation: slideIn 1s ease-in-out;
}

.song-list li {
  font-family: 'Poppins', sans-serif;
  border: 1px #ccc;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background: linear-gradient(300deg, #eee, #ffffffa0);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.song-list li:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
}

.song-list.editor li {
  background-color: #f9d3e3;
  cursor: move;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  text-align: left;
  justify-content: left;
  gap: .5rem;

}





.song-list button{
    padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #db4d81;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  
}

.song-list .btn-secondary{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  
}


.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #db4d81;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* Spazio tra icona e testo */
}

.btn-secondary {
  background-color: #6c757d;
  color: #f5f5f5;
}
.btn-third{
  background-color: #EF4444;
}

.btn-disabled {
  background-color: #a4a4a4 !important;
  cursor: not-allowed;
  text-decoration: line-through;
  opacity: 0.8;  
}

.hidden {
  display: none !important;
}

#reservationForm,
#waitingSection,
#prenotaSection,
.requests {
  margin-top: 2rem;
  background: linear-gradient(290deg, #ccd8ff, #fdedf3);
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  padding: 1rem;
  border-radius: 8px;
  animation: slideIn 1s ease-in-out;
}

#prenotaSection {
  text-align: center;
}




#prenotaSection label {
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  
}

#prenotaSection input {
  width: 89%;
  margin: 1rem 0;

}

#bookingForm {
  margin-top: 2rem;
  backdrop-filter: blur(10px);
  background-color: #ffffffa5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  padding: 1.5rem 0;
}

#bookingForm .btn, #userName{
  width: 95%;
}


#waitingSection{
  text-align: center;
}

#waitingSection .wait-brano{
  margin: 1rem 0;
}

#waitingSection .btn {
  width: 95%;
}


.wait-turno{
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  padding: 1.5rem 15px;
  margin: 0 .1rem;
  background: #ffffff88;
}

#postiCounter {
  background: radial-gradient(#000000, #3a4a54);
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}
.social-link {
  padding: .3em;
  font-size: 16px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffecb5;
  z-index: 1000;
}

.social-link p {
  margin: 0;
}

.insta-link {
  color: #e4405f;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

#editorTable {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}

#editorTable th,
#editorTable td {
  border: 1px solid #aaa;
  padding: 0.5rem;
  text-align: left;
}

#editorTable th {
  background-color: #db4d81;
  color: white;
}

#editorTable tr:nth-child(even) {
  background-color: #f9f9f9;
}




 .div1 {
  
  margin: 24px 0;
  background: linear-gradient(290deg, #ccd8ff, #fdedf3);

  border-radius: 8px;
  padding: 2px .4rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}

 .addSong {
  
  margin: 1rem 0;
  background: #f5dfe8;
  border-radius: 8px;
  padding: .2rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}
 .addSong h4{
  margin: .5rem;
}
  input {
  /*background-color: #f5f5f5;*/
  padding: .5rem;
  border-radius: 8px;
  border-width: 1px;
  border-color: #ccc;
  border-style: ridge;
}




 h1{
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}





body .song-list .btn {
  background: #db4d81;
}

body .song-list .btn-secondary{
  margin: 8px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
}

#maxReached {
      background: linear-gradient(120deg, #f7d16a, #ffe8a9);
      border-radius: 8px;
      padding: 2rem;
      margin-top: 4rem;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      animation: slideIn 1s ease-in-out;
    }


/*#maxReached {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}
#maxReached.show {
  opacity: 1;
}*/ 

#countdown {
  color: #ff6600;
  font-weight: bold;
  font-size: 1.2em;
}


body .main-prenota {
  padding: 1rem;
  display: block;
  unicode-bidi: isolate;
}

.main-prenota input{
  /*background-color: #f5f5f5;*/
  padding: .5rem;
  border-radius: 8px;
  
}

.main-prenota label{
  font-weight: bolder;
  font-size: 30px;
}

.main-prenota .btn{
  background: #db4d81;
}

.main-prenota .btn-secondary {
  background: #6c757d;
}

#mainMax {
  
  text-align: center;
  
}

#mainMax  h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#mainMax p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#mainMax .insta-link {
  display: inline-block;
  margin-top: 1rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#mainMax .insta-link:hover {
  background-color: #e0e0e0;
}

.maxCenter {
  display: flex;
  justify-content: center;
  width: 100%;
}

#songTitle {
  font-family: 'Roboto';
  font-size: 2em;
  margin: 0;
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  
}




.modal.hidden {
  display: none;
}

.modal-content {
  background: linear-gradient(150deg, #cfd9ff, #f1c4fa);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
}

#customAlertMessage {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin-top: 15px;
}

.popup-section {
  margin-top: 15px;
}

.popup-section.hidden {
  display: none;
}
.btn #popupCancel { 
  background-color: #6c757d;
}

button {
  cursor: pointer;
}

.accNeg {
  background: linear-gradient(290deg, #ccd8ff, #fdedf3);
  padding: 20px;
  border-radius: 8px;
  
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: slideIn 1s ease-in-out;
}

.accNeg h1 {
  font-size: 24px;
}

.accNegWrap {

      border-radius: 8px;
      padding: 2rem;
      margin-top: 4rem;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      
}

.requests {
  text-align: center;
  padding: 2rem;
}
.requests input{
  /*background-color: #ffffff;*/
  padding: .5rem;
  border-radius: 8px;
  width: 83%;
  font-size: 1rem;
  margin: 1rem;
  

  
}

.requests h1 {
  font-size: 2rem;
}

.requests h2 {
  font-style: italic;
  font-weight: 100;
  
  margin-bottom: 0;
}

.requests #artistaInput {
  margin-bottom: 1.5rem;
}

.requests .container {
  background: white;
  margin-top: 1.5rem;
  padding: .5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}

.requests .container .btn{
  width: 90%;
}


#prenotaLaTuaCanzone {
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 0px;
}


.size-6 {
  height: 20px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.actions {
  width: 100%;
}
.icon-title {
  display: flex;
  align-items: center;
  text-align: center;
}

.editor-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* per responsività */
  gap: 1rem;
  padding: 0;
  margin: 10px 0;
}

.icons-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icons-title svg {
  width: 24px;
  height: 24px;
  
}

.icons-title h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.editor-input-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.editor-input-group input {
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  width: 6rem;
}

.editor-input-group .btn {
  padding: 0.5rem 1rem;
  background-color: #db4d81;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
 .impost h4 {
  font-weight: 400;
  font-size: 14px;
 }

 .impost h3 {
  font-size: 16px;
 }

 .editor-main section {
  margin: 1rem 0;
  background: linear-gradient(150deg, #f8c4d7, #e2b7f3);
  border-radius: 8px;
  padding: 24px 24px 24px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  
  
 }

 .impost input{
  width: 94%;
 }


 .editor-main section button{
  margin: 8px 0;
 }

 .scaletta-scroll {
  max-height: 350px;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 1rem 0 0 0;
  background: linear-gradient(290deg, #ccd8ff, #fdedf3);
  border-radius: 8px;
  padding: 0;
 
}

.scaletta-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.scaletta-lista li {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: background 0.3s;
  background: #ffffffaa;
}

.scaletta-lista li.playing {
  position: relative;
  background: linear-gradient(150deg, #d1f5d3, #d1f5d38e) ;
  font-weight: bold;
  color: #155724;
}

.scaletta-lista li.playing > div > span:first-child {
  padding-left: 20px;
}

.scaletta-lista li.playing::before {
  content: "▶";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #198754;
}

.scaletta-lista li.suonati {
  background: linear-gradient(150deg, #c1c1c1, #d8d8d871 );
  color: #555;
  text-decoration: line-through;
}

.scaletta-lista li span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scaletta-lista li span {
  word-wrap: break-word;
  white-space: normal;
}

.popup-close{
  position:absolute;
  top:8px;
  right:12px;
  background:none;
  border:none;
  font-size:1.5rem;
  line-height:1;
  cursor:pointer;
  color:#666;
  justify-content: right;  
}

.svg-edit span {
  
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.utente-troncato {
  background-color: #bbedff;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid #45a9b4;
  width: fit-content;
  margin-top: 10px;
  margin-left: 25px;
}
.scaletta-scroll li{
  background: linear-gradient(150deg, #e6f9ff4c, #ffffff00);
  border: 1.5px solid #ccc;
}

.drag-ready {
  transform: scale(1.05);
  background-color: #ffe6f0 !important;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s ease;
  z-index: 1000;
}

.drag-ghost {
  opacity: 0.3;
  background-color: transparent;
}
