/*style.css*/
body {
  margin: 0rem;
  font-family: 'Roboto', sans-serif;
 /* font-weight: 400;*/
  background-color: #8de3dd;
  color: #333;
}

.branoAttualeSection{
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 10px; 
  flex-wrap: wrap; 
  position: fixed; 
  bottom: 0;
  background: #f5dfe8;
  border-radius: 0px;
  padding: .2rem .5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  width: 100%;
}
#reservationForm .btn {
  background-color: #db4d81;
}

#reservationForm .btn-secondary {
  background-color: #6c757d;
}

#reservationForm input{
  background-color: #f5f5f5;
  padding: .5rem;
  border-radius: 8px;
}

header {
  background-color: #db4d81;
  color: white;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 800;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  font-weight: bold;
  cursor: pointer;
  height: 100px;
}

header a {
  width: 45px;
}

img {
  max-width: 100%;
  height: 95px;
  padding: .3rem;
  margin-left: 2rem;
}


#logoEdit {
  margin-left: 0;
}
.centerLogo {
  cursor: default;
  text-align: center;
  width: 100%;
}


/*password editor*/


  .modalPW {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #8de3dd;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in-out;
  }

  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideIn 0.4s ease;
    max-width: 90%;
    width: 300px;
  }

  .modal-content h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }

  .modal-content input {
    width: fit-content;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }

  .modal-content input:focus {
    border-color: #56c5d0;
  }

  .modalPW .modal-content button {
    width: fit-content;
    padding: 0.7rem 5.7rem;
    background-color: #56c5d0;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .modalPW .modal-content button:hover {
    background-color: #45a9b4;
  }

  #errorMessage {
    color: red;
    margin-top: 0.5rem;
    display: none;
    font-size: 0.9rem;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }

h1, a{
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  max-width: 400px;
  height: 100%;
  background-color: #db4d81;
  color: white;
  padding: 2rem 1rem;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
  box-shadow: -2px 0 8px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  z-index: 900;
  
}

.side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

.side-menu ul li:first-child {
  position: absolute;
  top: 2vh;
  left: 15%;
  width: 100%;
}

.side-menu ul li:last-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  width: 100%;
}

.side-menu.visible {
  transform: translateX(0);
}

.close-btn {
    background: none;
  border: none;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.side-menu li, a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
}

/*.side-menu li #loginEditor {
  
}*/

main {
  padding: 1rem 1rem 4.5rem 1rem;
}
.controls {
  display: flex;
  gap: 10px;
  padding: 1rem;
}


#searchInput {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  min-width: 100px;
  max-width: 500px;
}
#sortSelect {
  padding: 0.5rem;
  border-radius: 8px;
}

.song-list {
  list-style: none;
  padding: 0 1rem;
}

.song-list li {
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: #eee;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.song-list.editor li {
  background-color: #f9d3e3;
  cursor: move;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.song-list button{
    padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #db4d81;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  
}

.song-list .btn-secondary{
    padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
  
}


.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #db4d81;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
}

.btn-secondary {
  background-color: #6c757d;
  color: #f5f5f5;
}

.btn-disabled {
  background-color: #aaa !important;
  cursor: not-allowed;
}

.hidden {
  display: none !important;
}

#reservationForm,
#waitingSection,
#editorPanel,
#prenotaSection,
.requests {
  margin-top: 2rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 8px;
}

#prenotaSection {
  text-align: center;
  
}




#prenotaSection label {
  font-weight: 400;
  font-size: 1.5rem;
  font-style: italic;
  
}

#prenotaSection input {
  width: 15rem;
  margin: 1rem 0;
}

#bookingForm {
  margin-top: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  padding: 1.5rem 0;
}


#waitingSection{
  text-align: center;
}

#waitingSection .wait-brano{
  margin: 1rem 0;
}

.wait-turno{
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
  padding: 1.5rem 0;
  margin: 0;
  background: #fff;
}
.social-link {
  padding: .3em;
  font-size: 16px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffecb5;
  z-index: 1000;
}

.social-link p {
  margin: 0;
}

.insta-link {
  color: #e4405f;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
}

#editorTable {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}

#editorTable th,
#editorTable td {
  border: 1px solid #aaa;
  padding: 0.5rem;
  text-align: left;
}

#editorTable th {
  background-color: #db4d81;
  color: white;
}

#editorTable tr:nth-child(even) {
  background-color: #f9f9f9;
}




#editorPanel .div1 {
  
  margin: 1rem 0;
  background: #f5dfe8;
  border-radius: 8px;
  padding: .2rem .4rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}
#editorPanel .addSong {
  
  margin: 1rem 0;
  background: #f5dfe8;
  border-radius: 8px;
  padding: .2rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}
#editorPanel .addSong h4{
  margin: .5rem;
}
#editorPanel  input {
  background-color: #f5f5f5;
  padding: .5rem;
  border-radius: 8px;
}



#editorPanel section {
  
  margin: 1rem 0;
  background: #f5dfe8;
  border-radius: 8px;
  padding: .2rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.12);
}

#editorPanel h1{
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}

#editorPanel .div1 {
  background: #f0fdff;
}

body .song-list .btn {
  background: #db4d81;
}

body .song-list .btn-secondary{
  margin: 8px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
}

#maxReached {
      background-color: #f7d26a;
      border-radius: 8px;
      padding: 2rem;
      margin-top: 4rem;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }


/*#maxReached {
  opacity: 0;
  transition: opacity 0.6s ease-in;
}
#maxReached.show {
  opacity: 1;
}*/ 

#countdown {
  color: #ff6600;
  font-weight: bold;
  font-size: 1.2em;
}


body .main-prenota {
  padding: 1rem;
  display: block;
  unicode-bidi: isolate;
}

.main-prenota input{
  background-color: #f5f5f5;
  padding: .5rem;
  border-radius: 8px;
}

.main-prenota label{
  font-weight: bolder;
  font-size: 30px;
}

.main-prenota .btn{
  background: #db4d81;
}

.main-prenota .btn-secondary {
  background: #6c757d;
}

#mainMax {
  
  text-align: center;
  
}

#mainMax  h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#mainMax p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#mainMax .insta-link {
  display: inline-block;
  margin-top: 1rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#mainMax .insta-link:hover {
  background-color: #e0e0e0;
}

.maxCenter {
  display: flex;
  justify-content: center;
  width: 100%;
}

#songTitle {
  font-family: 'Roboto';
  font-size: 2em;
  margin: 0;
  
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  
}




.modal.hidden {
  display: none;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
}

.popup-section {
  margin-top: 15px;
}

.popup-section.hidden {
  display: none;
}
.btn #popupCancel { 
  background-color: #6c757d;
}

button {
  cursor: pointer;
}

.accNeg {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.accNegWrap {

      border-radius: 8px;
      padding: 2rem;
      margin-top: 4rem;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      
}

.requests {
  text-align: center;
  padding: 2rem;
}
.requests input{
  background-color: #ffffff;
  padding: .5rem;
  border-radius: 8px;
  width: 15rem;
  font-size: 1rem;
  margin: 1rem;
  
}

.requests h1 {
  font-size: 2rem;
}

.requests h2 {
  font-style: italic;
  font-weight: 100;
  margin-top: 3rem;
  margin-bottom: 0;
}

.requests #artistaInput {
  margin-bottom: 3rem;
}


#prenotaLaTuaCanzone {
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  letter-spacing: 1px;
  word-spacing: 0px;

}